# Ignore container log outputs generated on the VM
**/logs/
*.log

# Ignore raw container database volumes
**/prometheus_data/
**/grafana_data/

# Ignore local secret environment variable stores
*.env
.env

# Ignore OS system artifacts
.DS_Store
